body {
  margin: 0;
  padding: 0;
  font-family: Arial, serif;

  .list-group{
    height: 400px;
    overflow-y: scroll;
    padding: 4px;
  }

  .list-group__item{
    text-align: center;
    padding: 6px;
    margin: 4px;
    background-color: rgb(232, 232, 232);
  }

  .header {
    background-color: rgb(53, 59, 70);

    color: white;
    display: flex;
    justify-content: space-between;

    .nav {
      display: flex;
    }

    .nav__link {
      border: none;
      outline: none;
      color: white;
      padding-right: 20px;
      text-decoration: none;
    }

    .dropdown__username {
      color: white;
    }

    .dropdown__username:hover, .dropdown__username:focus, {
      background-color: #5d00ff;
    }


    .dropdown__button {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      padding: 16px 16px;
      font-family: inherit;
    }

    .nav__link:hover {
      border-radius: 5px;
      background-color: #5d00ff;
    }

    .dropdown__content {
      display: none;
      margin-top: 19px;
      background-color: rgb(53, 59, 70);
      min-width: 160px;
    }

    .dropdown__content-link {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }

    .dropdown__content-link:hover {
      background-color: #5d00ff;
    }

    .show {
      display: block;
    }

    .header__button {
      width: 100px;
      margin: 5px;
      padding: 5px;
      background-color: rgb(53, 59, 70);
      border-radius: 10px;
      color: white;
      border: none;
    }
    .header__button:hover {
      background-color: lightslategrey;
    }
    .header__text {
      margin: 5px;
      padding: 5px;
    }
  }

  .login {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;

    .dropdown__button {
      display: flex;
      flex-direction: column;

      font-family: inherit;

      position: absolute;
      top: 5%;
      right: 15%;

      font-size: 15px;
    }

    .dropdown__username {
      left: -5px;
      position: relative;
      width: 130px;
    }

    .dropdown__username::after {
      position: absolute;
      top: 15px;
      left: 100px;
      display: inline-block;
      margin-left: 0.255em;
      vertical-align: 0.255em;
      content: "";
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
    }

    .dropdown__content {
      display: none;
      margin-top: 2px;
      background-color: rgb(53, 59, 70);
    }

    .dropdown__content-link {
      padding: 0 20px 0 0;
      display: flex;
      flex-direction: row;
    }

    .dropdown__item {
      color: inherit;
      padding: 12px 16px;
      text-decoration: none;
      text-align: left;
      display: flex;
      flex-direction: row;
    }

    .dropdown__item img {
      width: 25px;
      height: 20px;
      padding-right: 5px;
    }

    .dropdown__content-link img {
      width: 25px;
      height: 20px;
      padding-right: 5px;
    }
    .show {
      display: block;
    }

    .text-company {
      margin-right: 20px;
      .text-company__name{
        font-size: 25px;
        font-weight: 700;
        color: rgb(53, 59, 70);
      }
      .text-company__about{
        font-size: 15px;
        font-weight: 700;
        color: dimgrey;
      }
    }

    .language-select {
      position: absolute;
      top: 5%;
      right: 15%;
      padding: 15px;
      border-radius: 10px;
      border: none;
      color: white;
      background-color: rgb(53, 59, 70);
    }

    .login-form {
      padding: 40px;
      font-family: Arial, serif;
      display: flex;
      justify-content: center;
      flex-direction: column;
      background-color: rgba(53, 59, 70, 0.75);


      .login-form__img-inp {
        display: flex;
        flex-wrap: nowrap;
      }

      .login-form__input {
        margin: 5px;
        padding: 5px;

        font-size: 17px;
        outline: none;
        border: none;
      }

      .login-form__img {
        position: relative;
        top: 7px;
        width: 25px;
        height: 25px;
        opacity: .5;
      }

      .login-form__input:focus {
        box-shadow: 0 0 10px #5d00ff;
      }

      .login-form__button {
        width: 100px;
        margin: 5px;
        padding: 5px;
        background-color: rgb(53, 59, 70);

        color: white;
        border: none;
      }
      .login-form__button:hover{
        background-color: #5d00ff;
      }
    }
  }
}